{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block page_content %}

<div>
           <a href="{{ url_for('main.index') }}">首页</a>
</div>

<img class="img-rounded profile-thumbnail" src=" ">
<h1>{{ user.username }}</h1>
{% if current_user.is_administer() %}
<a class="btn btn-danger" href="{{ url_for('auth.show_all_people') }}">Edit Profile(Admin)</a>
{% endif %}

{% if current_user.is_authenticated and current_user == user %}
<p><a href="{{ url_for('auth.edit_profile') }}">Edit your profile</a></p>
<p><a href="{{ url_for('auth.change_password') }}">change password</a></p>
<p><a href="{{ url_for('auth.logout') }}">logout</a></p>
{% endif %}


{% if user.location or user.name %}
    {% if user.name %}
       <p>Real_name:&nbsp&nbsp&nbsp{{ user.name }}</p>
    {% endif %}

    {% if user.location %}
       <p>From:&nbsp&nbsp&nbsp&nbsp<a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a></p>
    {% endif %}
{% endif %}

{% if current_user.can(Permission.Follow) and user != current_user %}
    {% if not current_user.is_following(user) %}
    <a href="{{ url_for('main.follow', username=user.username) }}"
         class="btn btn-primary">Follow</a>
    {% else %}
    <a href="{{ url_for('main.unfollow', username=user.username) }}"
         class="btn btn-default">Unfollow</a>
    {% endif %}
{% endif %}
<a href="{{ url_for('main.followers', username=user.username) }}">
    Followers: <span class="badge">{{ user.followers.count() }}</span>
</a>
<a href="{{ url_for('main.followed', username=user.username) }}">
    Following: <span class="badge">{{ user.followed.count() }}</span>
</a>
{% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
| <span class="label label-default">Follows you</span>        
{% endif %}

<ul class="posts">
   {% for post in posts %}
     <li class="post">
       <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
       <div class="post-body">
		{% if post.body_html %}
		    {{ post.body_html | safe }}
		{% else %}
		    {{ post.body }}
		{% endif %}
	    </div>
     </li>
   {% endfor %}
</ul>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


